# 라이브러리

In [1]:
import numpy as np
import pandas as pd
import os

from util import *

2022-06-30 16:08:54.877076: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.10.1

In [2]:
#데이터 부르기
import time
import yfinance as yf

In [3]:
#텐서플로
import tensorflow as tf

In [4]:
os.environ['TF_XLA_FLAGS'] = '--tf_xla_enable_xla_devices'

# 데이터 부르기

In [5]:
tm = time.localtime(time.time())
TODAY = f"{tm.tm_year}-{tm.tm_mon:0>2d}-{tm.tm_mday:0>2d}"

start_date='2012-03-01'
end_date="2022-05-01"
path = "./stock"

In [6]:
os.makedirs(path+"/asset",exist_ok=True)
ASSET = pd.read_csv('M6_Universe.csv')

for asset in ASSET.symbol:
    stock = yf.download(asset, start=start_date, end = end_date)
    stock.to_csv(path+"/asset/"+asset+".csv")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [7]:
csvList=os.listdir(path+"/asset")

#include_list = []

for csv in csvList:
    if csv[-4:] != ".csv":
        continue
    
    data=pd.read_csv(path+"/asset"+'/'+csv)
    if(len(data)>2000):
        data=data[-2000-1:-1]
        data=data.reset_index()
        data=data[['Date','Adj Close']]
        data.columns = ['Date',csv[:-4]]
        
        #include_list.append(csv[:-4])
        
        if csv == csvList[0]:
            dataframe = data
        else:
            dataframe = pd.merge(dataframe,data,how="outer",on="Date")

In [8]:
dataframe["Date"] = pd.to_datetime(dataframe["Date"])
dataframe.sort_values(by=['Date'],inplace=True)
dataframe.fillna(method='ffill',inplace=True)
dataframe.fillna(method='bfill',inplace=True)
sort_asset = dataframe.columns.to_list()[1:]
sort_asset.sort()
sort_col = ["Date"]
sort_col.extend(sort_asset)
dataframe = dataframe[sort_col]

print(f'period : {dataframe["Date"].iloc[0]} ~ {dataframe["Date"].iloc[-1]}')
dataT=dataframe.drop(columns = "Date").copy()

period : 2014-05-21 00:00:00 ~ 2022-04-28 00:00:00

In [9]:
dataframe

,Date,ABBV,ACN,AEP,AIZ,ALLE,AMAT,AMP,AMZN,AVB,...,XLB,XLE,XLF,XLI,XLK,XLP,XLU,XLV,XLY,XOM
2000,2014-05-21,38.150940,69.072014,38.695145,56.188667,46.928638,17.844561,90.965179,15.250500,107.492188,...,40.704945,67.940010,15.156129,45.362705,32.853657,35.573677,31.551863,51.291527,57.980255,70.825287
2001,2014-05-22,38.408752,69.141609,38.982849,56.400581,47.650467,17.746414,91.312065,15.245500,107.130859,...,40.798111,67.875244,15.225430,45.448112,32.915871,35.517445,31.810246,51.597702,58.287167,70.457397
2002,2014-05-23,38.637936,69.437508,38.922279,56.425999,48.548134,17.880249,91.617661,15.612000,107.668976,...,41.145363,67.738541,15.273937,45.738514,33.191429,35.573677,31.734251,51.623951,58.747547,70.332443
2003,2014-05-27,38.666592,69.707306,39.898937,57.358372,48.557404,18.362055,92.022346,15.541000,108.099503,...,41.145363,67.925598,15.405615,45.977665,33.475883,35.670090,31.985022,51.903896,59.054466,70.360222
2004,2014-05-28,38.723877,69.254768,40.080639,57.121040,48.992348,18.326368,91.824127,15.508000,107.830421,...,41.162308,68.040703,15.377890,46.011822,33.386993,35.621876,32.174999,51.755173,58.991276,70.151962
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2022-04-22,154.990005,310.799988,99.465302,185.865387,114.046402,112.524857,278.786682,144.350006,248.825989,...,85.150620,75.354942,35.978214,97.999741,142.709152,78.649414,73.660530,133.108063,175.414368,84.266830
1996,2022-04-25,156.300003,316.820007,99.713348,186.453156,114.255547,114.190781,279.662628,146.074005,246.415588,...,84.912270,72.862892,36.037895,97.999741,144.853577,78.996803,73.154579,134.004288,176.681427,81.425934
1997,2022-04-26,156.179993,303.100006,98.463203,184.191727,113.767532,108.654312,263.328400,139.391006,242.378433,...,83.601341,72.961784,35.132721,95.859138,139.457611,77.775970,72.420456,131.644241,167.742111,81.455627
1998,2022-04-27,157.619995,303.100006,98.750938,185.317459,115.550278,108.544579,264.980743,138.167007,238.837234,...,84.832817,74.029808,35.102882,96.217567,141.522232,78.063812,72.073235,131.355469,167.762054,83.781799
1999,2022-04-28,156.309998,313.839996,101.628242,185.516693,118.717407,114.350388,271.649811,144.596497,237.567566,...,86.173538,76.274635,35.550499,97.302803,147.187515,79.215164,72.876801,133.167816,171.204102,86.315842

In [10]:
INDEX_DATA = make_index_data(start_date, end_date)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [11]:
INDEX_DATA

,Date,SP500,Dow,Nasdaq,CrudeOil,Gold,Silver,EURUSD,gsci,vix
0,2012-02-29,1364.50,12937.0,2623.00,107.070000,1709.900024,34.583000,1.347800,703.000000,18.430000
1,2012-03-01,1374.50,12973.0,2643.25,108.839996,1721.099976,35.611000,1.332090,713.000000,17.260000
2,2012-03-02,1368.75,12968.0,2643.50,106.699997,1708.800049,34.480999,1.332268,703.500000,17.290001
3,2012-03-05,1364.50,12961.0,2616.00,106.720001,1703.000000,33.651001,1.318618,705.000000,18.049999
4,2012-03-06,1342.00,12744.0,2589.50,104.699997,1671.400024,32.741001,1.322576,693.000000,20.870001
...,...,...,...,...,...,...,...,...,...,...
2648,2022-04-25,4292.75,33965.0,13535.75,98.540001,1893.199951,23.667999,1.081105,728.599976,27.020000
2649,2022-04-26,4170.50,33160.0,13016.00,101.699997,1901.400024,23.542000,1.071421,737.549988,33.520000
2650,2022-04-27,4180.25,33226.0,13009.00,102.019997,1885.900024,23.458000,1.064362,747.750000,31.600000
2651,2022-04-28,4283.50,33828.0,13454.75,105.360001,1888.699951,23.129000,1.055509,757.349976,29.990000
2652,2022-04-29,4127.50,32882.0,12852.00,104.690002,1909.300049,23.040001,1.050420,754.799988,33.400002

In [12]:
ABBV = pd.read_csv("./stock/asset/ABBV.csv")
GOOG = pd.read_csv("./stock/asset/GOOG.csv")
SEGA_L = pd.read_csv("./stock/asset/SEGA.L.csv")

In [13]:
ABBV

,Date,Open,High,Low,Close,Adj Close,Volume
0,2013-01-02,34.919998,35.400002,34.099998,35.119999,23.783308,13767900
1,2013-01-03,35.000000,35.000000,34.160000,34.830002,23.586918,16739300
2,2013-01-04,34.619999,34.889999,34.250000,34.389999,23.288939,21372100
3,2013-01-07,34.150002,35.450001,34.150002,34.459999,23.336348,17897100
4,2013-01-08,34.290001,34.639999,33.360001,33.709999,22.828451,17863300
...,...,...,...,...,...,...,...
2344,2022-04-25,154.839996,156.639999,152.839996,156.300003,156.300003,6932600
2345,2022-04-26,156.440002,159.690002,155.820007,156.179993,156.179993,6787800
2346,2022-04-27,156.559998,159.500000,154.559998,157.619995,157.619995,6039100
2347,2022-04-28,158.360001,158.440002,154.339996,156.309998,156.309998,7465000
2348,2022-04-29,149.559998,149.860001,139.929993,146.880005,146.880005,25155900

# 모델 실험

## custom LSTMCell

In [14]:
class customLSTMcell(tf.keras.layers.LSTMCell):
    def __init__(self,
                 units,
                 activation='tanh',
                 recurrent_activation='sigmoid',
                 use_bias=True,
                 kernel_initializer='glorot_uniform',
                 recurrent_initializer='orthogonal',
                 bias_initializer='zeros',
                 unit_forget_bias=True,
                 kernel_regularizer=None,
                 recurrent_regularizer=None,
                 bias_regularizer=None,
                 kernel_constraint=None,
                 recurrent_constraint=None,
                 bias_constraint=None,
                 dropout=0.0,
                 recurrent_dropout=0.0,
                 **kwargs):
        super(customLSTMcell,self).__init__(units,
                                            activation,
                                            recurrent_activation,
                                            use_bias,
                                            kernel_initializer,
                                            recurrent_initializer,
                                            bias_initializer,
                                            unit_forget_bias,
                                            kernel_regularizer,
                                            recurrent_regularizer,
                                            bias_regularizer,
                                            kernel_constraint,
                                            recurrent_constraint,
                                            bias_constraint,
                                            dropout,
                                            recurrent_dropout,
                                            **kwargs)
        #추가 작업
        
    def call(self, inputs, states, training=None):
        h_tm1 = states[0]  # previous memory state
        c_tm1 = states[1]  # previous carry state

        dp_mask = self.get_dropout_mask_for_cell(inputs, training, count=4)
        rec_dp_mask = self.get_recurrent_dropout_mask_for_cell(h_tm1, training, count=4)

        if self.implementation == 1:
            if 0 < self.dropout < 1.:
                inputs_i = inputs * dp_mask[0]
                inputs_f = inputs * dp_mask[1]
                inputs_c = inputs * dp_mask[2]
                inputs_o = inputs * dp_mask[3]
            else:
                inputs_i = inputs
                inputs_f = inputs
                inputs_c = inputs
                inputs_o = inputs
            k_i, k_f, k_c, k_o = tf.split(self.kernel, num_or_size_splits=4, axis=1)
            x_i = backend.dot(inputs_i, k_i)
            x_f = backend.dot(inputs_f, k_f)
            x_c = backend.dot(inputs_c, k_c)
            x_o = backend.dot(inputs_o, k_o)
            if self.use_bias:
                b_i, b_f, b_c, b_o = tf.split(self.bias, num_or_size_splits=4, axis=0)
                x_i = backend.bias_add(x_i, b_i)
                x_f = backend.bias_add(x_f, b_f)
                x_c = backend.bias_add(x_c, b_c)
                x_o = backend.bias_add(x_o, b_o)

            if 0 < self.recurrent_dropout < 1.:
                h_tm1_i = h_tm1 * rec_dp_mask[0]
                h_tm1_f = h_tm1 * rec_dp_mask[1]
                h_tm1_c = h_tm1 * rec_dp_mask[2]
                h_tm1_o = h_tm1 * rec_dp_mask[3]
            else:
                h_tm1_i = h_tm1
                h_tm1_f = h_tm1
                h_tm1_c = h_tm1
                h_tm1_o = h_tm1
            x = (x_i, x_f, x_c, x_o)
            h_tm1 = (h_tm1_i, h_tm1_f, h_tm1_c, h_tm1_o)
            c, o = self._compute_carry_and_output(x, h_tm1, c_tm1)
        else:
            if 0. < self.dropout < 1.:
                inputs = inputs * dp_mask[0]
            z = backend.dot(inputs, self.kernel)
            z += backend.dot(h_tm1, self.recurrent_kernel)
            if self.use_bias:
                z = backend.bias_add(z, self.bias)

            z = tf.split(z, num_or_size_splits=4, axis=1)
            c, o = self._compute_carry_and_output_fused(z, c_tm1)

        h = o * self.activation(c)
        return h, [h, c]